* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding: 10px;
}

.logo {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 20px;
  text-decoration: none;
  color: orangered;
}
.nav-links {
  display: flex;
  color: #f1f1f1;
  justify-content: space-around;
  width: 20%;
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px;
  color: whitesmoke;
  font-size: 18px;
  transition: color 300ms ease-in-out;
}

.nav-links li a:hover {
  color: orangered;
}

.hambuger {
  display: none;
}

.hambuger div {
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  margin: 5px;
  transition: background 300ms ease-in-out;
}
.hambuger:hover div {
  background-color: orangered;
}
@media screen and (max-width: 767px) {
  nav {
    padding: 10px;
    display: block;
  }
  .nav-links {
    display: none;
    margin-top: 10px;
  }
  .nav-links li {
    padding: 10px 15px;

  }
  .hambuger {
    display: block;
    position: absolute;
    top: 15px;
    right: 45px;
    cursor: pointer;
  }
  .open-nav {
    display: block;
    transition: display 300ms ease-in-out;
  }
}
